{
    "extends": [
      "airbnb",
      "prettier"
      ],
    "plugins": [
      "prettier"
    ],
    "rules": {
          "prettier/prettier": "error",
          "no-param-reassign": ["error", { "props": false }],
          "linebreak-style": 0,
          "no-plusplus": 0,
          "no-console": 0
      },
    "env":{
      "browser": true,
      "node": true,
      "jest": true
      },
      "parser": "babel-eslint"
  }